html {
  background-color: rgba(214, 235, 226, 0.15);
  color: #000a00;
  font-size: 4.267vw;
  @media screen and (min-width: 480px) {
    font-size: 2.083vw;
  }
  @media screen and (min-width: 1024px) {
    font-size: 1.111vw;
  }
  *:focus {
    outline: none;
  }
}
h1,
h2,
h3,
h4 {
  color: #000;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.6rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  padding-left: 0.05em;
}
h3 {
  font-size: 1.17rem;
  font-weight: 400;
  letter-spacing: 0.1em;
}
h4 {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.14em;
}
h5 {
  font-size: 1.11rem;
  font-weight: 300;
  letter-spacing: 0.07em;
}
p {
  font-size: 0.8789rem;
  line-height: 2.1em;
}
td {
  display: block;
  @media screen and (min-width: 480px) {
    display: table-cell;
  }
}
button {
  &:disabled {
    color: transparent;
  }
}
